# dependencies
node_modules

# production build
/dist

# tests & coverage
/coverage
/.nyc_output

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.*
!.env.example

# vcs
.git
.gitignore
.husky

# editor
.vscode
.idea

# docker
Dockerfile*
.dockerignore

# misc
.tmp
